


/* ===============================================================================START================================================================================= */

/* Simple Selector */
*{
    margin: 0px;
    padding: 0px;
    /* setting complete font in *{} */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* classes are declared with "." (ex: .cards, .container) */
/* Id's are declared with "#" (ex: #card, #container) */

/* Simple Selectors : #para1{} , .container, .card, h1{} , p{} */
/* Combinator : (space) , (>) , (+) , (~) */
/* Flex-box: is used for arranging items in rows,columns, center, and more. */
/* Flexbox is used in most of the containers that I listed below. */
/* I have used display, flex-direction, flex-wrap these kind of css items. */

/* Box-Model: is that wrap each and every html element. This box-model is enabled to that element once its created in html file. */

/* Pseudo Class at 190 line */

/* ID tags at 330 line */



/* ===============================================================================================================================================================*/
/* Header/ Navbar  */

.header{
    display: flex;
    justify-content: space-between;
    margin: 30px 250px 0px 150px;
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.Menu{
    color: rgb(71, 70, 70);
    text-decoration: none;
    font-size: 25px;

}

/* will target img html element */

/* the below form (.navbar a img{}) says that img html tag or element is inside "a" and navbar class */

.navbar a img{
    width: 50px;
}

.section img {
    width: 1100px;
    height: 700px;
    margin-top: 40px;
    margin-left: 300px;
}

/* =============================================================================================================================================================== */
    /* Landind section */

.Container{
    position: relative;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.Container .cards{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 293px;
    height: 200px;
    background: #ef9608;
    margin: 20px 22px 0px 1068px;
    padding: 44px 50px;
}

.Container .cards img{
    width: 1111px;
    height: 720px;
}

.imgcontent{
    width: 185px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 170px;
    background-color: #ffffff;
    margin: -266px 0px 0px 100px;
    font-size: 30px;
}

.imgcontent .cardsbtn{
    width: 92px;
    height: 35px;
    background-color: #ef9608;
    border-radius: 10px;
}

.imgcontent .cardsbtn:hover{
    background-color: #d0b07d;
    cursor: pointer;
}


/* ================================================================================================================================================================================ */


.continue{
    position: relative;
    width: 100%;
    margin-top: 476px;
    height: 608px;
    background: #4a3108;
    color: white;
}

.color{
    background-color: rgb(5, 46, 81);
}

.continuecontent h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 40px;
}

.continuecontent p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(136, 136, 136);
}

/* Adjusting size of the image */

.imgcontainer{
    display: flex;
    justify-content: center;
}

.imgcontainer .separatimg{
    margin: 110px 110px 40px 110px;
    background-color: rgb(224, 224, 224);
    width: 300px;
    height: 470px;
    border-radius: 4px;

}

.separatimg h3{
    display: flex;
    justify-content: center;
}

.imgcontainer p{
    padding: 10px;
}

.separatimg img{
    width: 261px;
    height: 298px;
    padding: 21px;
}



.imgtopic, p{
    color: black;
}

.continue .continuebtn{
    display: flex;
    justify-content: center;
}

.continue button{
    width: 105px;
    height: 40px;
    background-color: #ef9608;
    border-radius: 10px;
}


/* Pseudo Class */

.continue button:hover{
    background-color: #cbac7a;
    cursor: pointer;
}


/* =================================================================================================================================================================== */

.updates{
    background-color: rgba(234 234 234);
    width: 100%;
    height: 790px;
}

.updates img{
    width: 40px;
    height: 35px;
}

.updates h1{
    font-size: 43px;
    padding: 367px 605px 0px 600px;
}

.updatescontainer{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px 0px 0px 0px;
}

.grp{
    width: 600px;
    height: 81px;
    padding-left: 20px;
}

.grp p{
    width: 520px;
}

/* =================================================================================================================================================================== */

.toursoffers{
    margin: 94px 100px 20px 257px;
}

.textcontent{
    display: flex;
}

/* .tourcontent{
    margin: 38px 0px 0px 117px;
} */


.textcontent h1{
    font-size: 73px;
    width: 521px;
}

.textcontent p{
    font-size: 20px;
    width: 700px;
    padding: 10px;
}

.toursoffers .btn{
    width: 100px;
    height: 30px;
    margin: 20px;
    background-color: #ef9608;
}

.toursoffers .btn:hover{
    background-color: #d0b07d;
    cursor: pointer;
}

.imgundercontent{
    display: flex;
    flex-direction: row;
}

.imgundercontent img{
    width: 170px;
    height: 187px;
    padding: 10px 0px 0px 39px;
}

.right img{
    width: 470px;
    height: 790px;
    margin: 20px 0px 20px 51px;
}

/* =================================================================================================================================================================== */

/* Kayak Tours in Florida, Texas & Tennesse  session*/


.colours{
    position: relative;
    background-color: #f1f1f1;
    width: 100%;
    height: 1200px;
}

.kayakcontainer{
    position: relative;
    display: flex;
    margin-top: -1140px;
    padding: 10px 15px 0px 15px;

}

.kayaktext figure img{
    padding-top: 60px;
    width: 110px;
}

.kayaktext h1{
    font-size: 60px;
    width: 506px;
}

.kayakcontainer div{
    padding: 90px 128px 0px 119px;
}

.kayaktext{
    margin: 10px 10px 0px 90px;
}

/* Used id tag to specify */
#container{
    background-color:#ffffff;
    width: 470px;
    height: 600px;
    padding: 38px;
}

.OurMission{
    font-size: 25px;
    border-radius: 8px;
    width: 400px;
    height: 100px;
}

.description{
    color: rgb(8, 8, 8);
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
}


.description ol li{
    color: #707070;
}


.buttonexpand label::after{
     content: '+';
    cursor: pointer;
     font-size: 30px;
     font-weight: bold;
     padding-left: 20px;
}



input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #cbcbcb;
    padding: 12px 115px 12px 115px;
}

input[type="radio"]:checked + label + .description {
    max-width: 600px;
    max-height: 400px;
    padding: 17px 60px 17px 60px;
    
}

/* ================================================================================================================================================================= */

/* OUR MISSION Session */

.colours1{
    position: relative;
    background-color: #c27800;
    width: 100%;
    height: 1006px;
    margin-top: 352px;
}

.Colours1sideimg img{
    width: 440px;
    position: relative;
    display: flex;
    margin: -1300px 0px 0px 440px;
}

.colours1container{
    display: flex;
}

.colours1content{
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    height: 270px;
    width: 384px;
    position: relative;
    margin: -1164px 0px 0px -55px;
}

.colours1content h1{
    font-size: 33px;
    padding: 10px 10px 20px 10px;
}

.colours1content p{
    font-size: 17px;
    color: #818181;
    padding: 10px;
}

.colours1content button{
    background-color: #ff9d00;
    width: 115px;
    height: 36px;
    padding: 8px;
}

.colours1content button:hover{
    background-color: #cbac7a;
    cursor: pointer;
}

/* ================================================================================================================================================================= */

/* what people say section */


.whatpeople{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -454px 0px 0px 0px;
    position: relative;
}


.whatpeople h1{
    font-size: 52px;
    color: white;
}

.whatcontent{
    display: flex;
    flex-direction: row;
}

.whatcontent .cards{
    padding: 48px 48px 30px 48px;
    background-color: white;
    width: 376px;
    height: 200px;
    margin: 50px;
}

.cards h1{
    color: black;
    font-size: 35px;
    padding-bottom: 35px;
}

hr{
    background-color: #c27800;
    height: 1px;
}

.cards .year{
    padding-top: 20px;
}

/* ================================================================================================================================================================= */
/* location and contact form */

.colours2{
    background-color: #05001d;
    position: relative;
    width: 100%;
    height: 700px;
}

.displaythis{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: -554px 200px 0px 57px;
    color: white;
}
.location p{
    color: white;
}
.follow{
    padding: 18px 10px 100px 10px;
}

address{
    font-size: 20px;
    padding: 100px 10px 100px 10px;
}

.displaythis div{
    padding: 0px 110px 10px 110px;

}

/* form */

.form input, .textarea{
    margin-top: 27px;
    width: 400px;
    height: 45px;
}

.form .textarea{
    height: 80px;
}

.form button{
    margin-top: 21px;
    padding: 10px;
    width: 400px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    background-color: #c27800;
}

/* ================================================================================================================================================================= */

/* Footer */

footer{
    width: 100%;
    height: 70px;
    background-color: #484848;
    margin-top: 80px;
}

footer div{
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer div p{

    color: #cbcbcb;
}


/* ===============================================================================END================================================================================= */